.externalToolBuilders/*
.mymetadata
.checkstyle
*.class

.classpath
.project
*.class

.idea
*.iml
.settings/*
/indexes/*
/target/*
/target/
/bin/
/bin/*
/src/main/webapp/WEB-INF/lib
/.settings/
/catalina.base_IS_UNDEFINED/
/.buildpath
/.externalToolBuilders/
/upload/*
/userImage/*
*.temp
*.pdf
/ProjectFilesInOneZip
.idea
/sc_app/mvnw
/sc_app/mvnw.cmd
/sc_config/mvnw.cmd
/sc_config/mvnw
/sc_dms/mvnw
/sc_dms/mvnw.cmd
/sc_service/mvnw.cmd
/sc_service/mvnw
